.indicate-video .tests-catalog {
  padding: 0;
}
.indicate-video .content__wrapper {
  padding: 0;
  /* justify-content: space-between; */
}

/* .indicate-video .tests-catalog.catalog-video .tests-catalog__item {
  margin: 0 0 13px 0;
} */

.indicate-selects {
  display: flex;
  flex-wrap: wrap;
}
.indicate-selects .select-wrapper {
  width: 82px;
  margin-right: 8px;
  margin-bottom: 38px;
}

.task-checked,
.task-selection:hover {
  background-color: transparent !important;
  border: 1px solid #3888ff;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px #95bfff;
  cursor: pointer;
}

.addTask-wrapper .btn-green {
  background-color: #42cc71;
  border: none;
  color: #ffffff;
  margin: auto;
  display: block;
  font-size: 16px;
  width: 225px;
  padding: 22px 26px;
}

.addTask-wrapper .btn-green:hover,
.addTask-wrapper .btn-green:focus {
  background-color: #25ad53;
}

.addTask-wrapper {
  padding-bottom: 64px;
}

.tests-catalog__item {
  cursor: pointer;
}

@media (max-width: 480px) {
  .indicate-selects .select-wrapper {
    width: 76px;
    font-size: 10px;
    margin: 0 0 9px 0;
  }
  .indicate-selects {
    justify-content: space-between;
    margin: 22px 0 36px 0;
  }
  .indicate-video h1,
  .indicate-material h1,
  .indicate-test {
    font-size: 20px;
  }
}

.checkbox.green span:before {
  border: 0.5px solid #D1D4FF;
}
.form-flex input {
  margin-bottom: 20px;
}
.students-list {
  max-height: 365px;
  overflow-y: auto;
  width: 370px;
  max-width: 100%;
  margin-top: 20px;
}
.students-list::-webkit-scrollbar {
  width: 1px;
  background-color: #C1CFE4;
}
.students-list::-webkit-scrollbar-thumb {
  background-color: #3888FF;
}
.form-flex__inner {
  margin-left: auto;
}
.form-reward {
  width: 50%;
  position: relative;
}
.table-container form .form-reward input {
  text-align: right;
  padding-right: 40px;
}
.form-reward:after {
  position: absolute;
  content: "D";
  font-weight: bold;
  font-size: 20px;
  color: #3888FF;
  right: 0;
  top: calc(50% - 10px);
  transform: translate(-22px, -50%);
  background: #eff5fe;
}
@media(max-width:1024px){
  .form-flex__inner {
      margin: 0 auto;
  }
}
@media(max-width:500px){
  .form-flex__inner {
      width: 100%;
  }
  .form-reward {
      width: 100%;
  }
  .table-container {
      padding: 25px;
  }
}
.task-wrapper .container {
    display: flex;
  }
  
  .task-wrapper__title {
    font-size: 48px;
  }
  
  .aside-content {
    min-width: 309px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 28px 41px;
    height: fit-content;
    margin-right: 50px;
  }
  
  .aside-content__disc {
    padding-bottom: 30px;
    border-bottom: 0.5px solid #c2c6ff;
  }
  
  .aside-content__disc a {
    color: #3888ff;
    text-decoration: none;
  }
  
  .aside-content__disc a:hover,
  .aside-content__disc a:focus {
    text-decoration: underline;
  }
  
  .aside-content__disc p {
    display: block;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 13px;
    line-height: 25px;
    color: #34366a;
  }
  
  .aside-content__disc p:not(:last-child) {
    margin-bottom: 25px;
  }
  
  .aside-content__disc p span {
    display: block;
    font-size: 16px;
    color: #3888ff;
  }
  
  .aside-student .students-list {
    height: 324px;
    font-size: 14px;
    color: #34366a;
  }
  
  .aside-student {
    margin-top: 25px;
  }
  .aside-student .form-label {
    font-size: 18px;
  }
  .task-wrapper .tests-catalog.catalog-video .tests-catalog__item {
    width: 46%;
  }
  
  .task-wrapper .content-item {
    width: 32.4%;
    padding-bottom: 0;
  }
  .task-wrapper .tests-catalog__item {
    max-width: 32.4%;
  }
  
  @media (max-width: 1200px) {
    .task-wrapper .container {
      flex-direction: column;
    }
    .aside-content {
      margin-right: 0;
    }
    .task-wrapper .catalog-video .content__wrapper {
      padding-right: 0;
    }
  }
  
  @media (max-width: 992px) {
    .task-wrapper .content-item {
      width: 312px;
      padding-bottom: 0;
      margin: 0 15px 13px 0;
    }
    .task-wrapper .tests-catalog__item {
      max-width: 312px;
      margin: 0 15px 13px 0;
    }
    .task-wrapper__title {
      font-size: 40px;
    }
  }
  
  @media (max-width: 680px) {
    .task-wrapper .tests-catalog.catalog-video .tests-catalog__item {
      width: 100%;
    }
    .task-wrapper .content-item {
      width: 100%;
    }
    .task-wrapper .tests-catalog__item {
      max-width: 100%;
    }
    .aside-content {
      padding: 16px 29px;
      min-width: auto;
    }
    .aside-content__disc {
      padding-bottom: 20px;
    }
    .aside-content__disc p {
      font-size: 10px;
      line-height: 17px;
    }
    .aside-content__disc p span {
      font-size: 12px;
    }
    .aside-content__disc p:not(:last-child) {
      margin-bottom: 16px;
    }
    .aside-student {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .task-wrapper__title {
      font-size: 24px;
      text-align: center;
    }
  }
  