header {
    padding: 17px 0;
  }
  
  .logo {
    width: 59px;
    height: 67px;
    z-index: 2;
  }
  
  .vector-head {
    background-image: url('../../assets/images/png/vector-head.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 240px;
    height: 260px;
    position: absolute;
    left: -25px;
    top: -100px;
  }
  
  .toggle-menu.active.toggle-menu:before {
    transform: scale(0);
  }
  
  .toggle-menu {
    position: relative;
    width: 26px;
    height: 20px;
    margin-left: 22px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .toggle-menu:before {
    content: '';
    width: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.25s linear;
    left: 0;
    top: 9px;
    background-color: #3888ff;
    height: 2px;
  }
  
  .btn-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inherit;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
  }
  .toggle-menu.active .btn-menu:before {
    top: 8px;
    transform: rotate(45deg);
  }
  
  .toggle-menu.active .btn-menu:after {
    bottom: 10px;
    transform: rotate(-45deg);
  }
  
  .btn-menu:before {
    content: '';
    width: 100%;
    position: absolute;
    border-radius: 10px;
    transition: transform 0.25s linear;
    left: 0;
    top: 0;
    background-color: #3888ff;
    height: 2px;
  }
  
  .btn-menu:after {
    content: '';
    width: 100%;
    position: absolute;
    border-radius: 10px;
    transition: transform 0.25s linear;
    left: 0;
    bottom: 0;
    background-color: #3888ff;
    height: 2px;
  }
  
  .menu {
    margin-right: auto;
    margin-left: auto;
  }
  
  .menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .menu__links a {
    font-family: 'MuseoSans';
    font-weight: 500;
    font-size: 14px;
    color: #3888ff;
    text-decoration: none;
    transition: color 0.25s ease;
    padding: 0 20px;
  }
  .menu__links a:hover,
  .menu__links a:focus {
    color: #34366a;
    font-weight: 600;
  }
  
  .search-form {
    position: relative;
  }
  
  .search-form__input {
    width: 284px;
    height: 50px;
    padding: 12px 26px;
    color: #9ea0cd;
    font-size: 12px;
    border: 1px solid #caccff;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
  }
  
  .search-form__button {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  .btn.btn-user {
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 18px 26px;
    margin-left: 50px;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    background-color: #42cc71;
    transition: background-color 0.25s ease;
  }
  
  .btn.btn-user:hover,
  .btn.btn-user:focus {
    background-color: #25ad53;
  }
  
  .btn.btn-user img {
    margin-right: 10px;
    width: 14px;
    height: 14px;
  }
  
  /* TOP-CONTENT */
  .top-content {
    position: relative;
  }
  
  .top-content .container {
    display: flex;
    background-repeat: no-repeat;
    background-position: 94%;
    background-size: contain;
  }
  
  .refresher-qual {
    max-width: 611px;
    margin-left: 62px;
  }
  
  .refresher-qual__title {
    color: #34366a;
    font-size: 70px;
    font-weight: 700;
    line-height: 75px;
    margin: 30px 0 20px 0;
  }
  
  .refresher-qual__disc {
    font-size: 16px;
    color: #34366a;
    line-height: 30px;
    max-width: 420px;
    margin: 0 0 28px 0;
  }
  
  .refresher-qual__benefit {
    display: flex;
    margin-bottom: 48px;
  }
  
  .refresher-qual__benefit img {
    width: 20px;
    height: 20px;
    margin-right: 19px;
  }
  
  .refresher-qual__benefit span {
    display: flex;
    color: #3888ff;
    line-height: 18px;
    font-size: 14px;
    font-family: 'MuseoSans';
    font-weight: 600;
    width: 160px;
  }
  
  .refresher-qual__benefit span:not(:last-child) {
    margin-right: 4%;
  }
  
  .btn.btn-details {
    background-color: #3888ff;
    color: #ffffff;
    padding: 18px 33px;
    font-weight: 500;
    transition: background-color 0.25s ease;
    border: none;
    margin-bottom: 40px;
  }
  
  .btn.btn-details:hover,
  .btn.btn-details:focus {
    background-color: #1b5ab8;
  }
  
  /* header blue */
  
  .header-blue {
    background-color: #2393ec;
  }
  
  .header-blue .menu__links a {
    color: #8fceff;
  }
  
  .header-blue .menu__links a:hover,
  .header-blue .menu__links a:focus {
    color: #ecedfe;
  }
  
  .header-blue input::placeholder {
    color: #4eb1ff;
  }
  
  .header-blue .search-form__input {
    border: 1px solid #4eb1ff;
  }
  
  header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logo-blue {
    display: none;
  }
  
  .header-blue .logo-blue {
    display: block;
  }
  
  .header-blue .logo {
    display: none;
  }
  
  .header-blue .toggle-menu:before,
  .header-blue .btn-menu:before,
  .header-blue .btn-menu:after {
    background-color: #fff;
  }
  
  .btn-search-open {
    background-image: url('../../assets/images/png/search-btn.png');
    width: 36px;
    height: 36px;
    border: 1px solid #caccff;
    background-color: transparent;
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
  }
  
  .search-form.active {
    visibility: visible;
    transform: translateY(0px);
  }
  
  /* Media Header */
  
  @media (max-width: 480px) {
    .menu ul {
      width: 100% !important;
    }
  }
  
  @media (max-width: 576px) {
    .refresher-qual__title {
      font-size: 30px !important;
      line-height: 38px;
    }
  
    .refresher-qual__disc {
      font-size: 14px;
    }
  
    .refresher-qual__benefit span {
      font-size: 12px;
    }
  }
  
  @media (max-width: 680px) {
    .top-content .container {
      background-image: none !important;
    }
  }
  
  @media (max-width: 768px) {
    .btn-search-open {
      display: block;
    }
  
    .search-form {
      visibility: hidden;
      position: absolute;
      width: 100%;
      top: 20px;
      z-index: 800;
      left: 0;
      transform: translateY(-100%);
      transition: all 0.25s linear;
    }
  
    .search-form__input {
      width: 100%;
      background-color: #fff;
    }
  
    .logo,
    .logo-blue {
      margin-right: auto;
      width: 37px;
      height: 42px;
    }
  
    .btn.btn-user {
      padding: 11px 26px;
      margin-left: 10px;
      z-index: 0;
    }
  
  }
  
  @media (max-width: 992px) {
    .refresher-qual {
      margin-left: 0;
    }
  }
  
  @media (max-width: 950px) {
    .top-content .container {
      background-size: 60%;
    }
  }
  
  @media (max-width: 1200px) {
    .search-form {
      margin-left: auto;
    }
  
    .toggle-menu {
      display: block !important;
      z-index: 500;
    }
  
    .refresher-qual__title {
      font-size: 48px;
    }
  
    .menu {
      visibility: hidden;
      position: absolute;
      height: 100vh;
      width: 100%;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.8);
      flex-direction: column;
      z-index: 300;
    }
    .menu ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 100vh;
      padding-top: 60px;
      text-align: center;
      width: 400px;
      transform: translateX(-100%);
      transition: all 0.25s linear;
      background-color: #ffffff;
      -webkit-box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.58);
      -moz-box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.58);
      box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.58);
    }
    .menu__links {
      margin-bottom: 30px;
    }
    .menu__links a {
      font-size: 30px;
      width: 100%;
      padding: 0;
    }
    .menu ul.active {
      transform: translateX(0);
    }
  
    .header-blue .menu {
      background-color: rgba(35, 147, 236, 0.9);
    }
    .header-blue .menu ul {
      background-color: #2393ec;
    }
  }
  
  @media (min-width: 1200px) {
    .toggle-menu {
      display: none;
    }
  }
  
  @media (max-width: 1250px) {
    .toggle-menu {
      display: none;
    }
  
    .refresher-qual__benefit {
      flex-direction: column;
    }
  
    .refresher-qual__benefit span {
      width: 100% !important;
      margin-bottom: 10px;
    }
  
    .top-content .container {
      background-position: 142%;
    }
  }
  