.checkbox.green span:before {
    border: 0.5px solid #D1D4FF;
}
.form-flex input {
    margin-bottom: 20px;
}
.students-list {
    max-height: 365px;
    overflow-y: auto;
    width: 370px;
    max-width: 100%;
    margin-top: 20px;
}
.students-list::-webkit-scrollbar {
    width: 1px;
    background-color: #C1CFE4;
}
.students-list::-webkit-scrollbar-thumb {
    background-color: #3888FF;
}
.form-flex__inner {
    margin-left: auto;
}
.form-reward {
    width: 50%;
    position: relative;
}
.table-container form .form-reward input {
    text-align: right;
    padding-right: 40px;
}
.form-reward:after {
    position: absolute;
    content: "D";
    font-weight: bold;
    font-size: 20px;
    color: #3888FF;
    right: 0;
    top: calc(50% - 10px);
    transform: translate(-22px, -50%);
    background: #eff5fe;
}
@media(max-width:1024px){
    .form-flex__inner {
        margin: 0 auto;
    }
}
@media(max-width:500px){
    .form-flex__inner {
        width: 100%;
    }
    .form-reward {
        width: 100%;
    }
    .table-container {
        padding: 25px;
    }
}